doctype html
html
  head
    title Welcone infidels
  body
    h1.output JavaScript
    button Click
    script
      include script.js
    if config.entry.css.external
      link(rel="stylesheet", href=`${baseUrl}style.css`)