doctype html
html
  head
    title Welcone infidels
  body
    h1 JavaScript
    input(type="text" id="myPersonalInput" value="test")
    button(type = "button" onclick = "message()") Click it  
    //- button(type = "button" onclick = "message2()") Click it second
    //- button(type = "button" onclick = "message3()") Click it third
    script
      include script.js
    if config.entry.css.external
      link(rel="stylesheet", href=`${baseUrl}style.css`)