doctype html
html
  head
    title Welcone infidels
  body
    h1 JavaScript
    button(type = "button" onclick = "message('hello world')") Click it
    button(type = "button" onclick = "message1('hello world')") Click it second
    button(type = "button" onclick = "message2('hello world')") Click it third
    script
      include script.js
    if config.entry.css.external
      link(rel="stylesheet", href=`${baseUrl}style.css`)