doctype html
html
  head
    title Welcome infidels
  body
  h1 Who will be favorite tennis player?
    //- h1 How old will you be in 2050?
    //- h1 Pieces of information about computer components.
    //- h1 Buying a computer?
    //- h2 This is the right place!
    //- #output
    //- input(type="number" name="ourNum" min = "0" max= "1000" value="1")
    //- input(type="button" id="useBtn" value="check")
    //- button(type = "button" onclick = "message()") Click it  
    //- button(type = "button" onclick = "message2()") Click it second
    //- button(type = "button" onclick = "message3()") Click it third
    script
      include script.js
      include _component/js/tenis.js
    if config.entry.css.external
      link(rel="stylesheet", href=`${baseUrl}style.css`)