doctype html
html
  head
    title Welcone infidels
  body
    h1 JavaScript
    button(type = "button" onclick = "message1()") Click it first 
    button(type = "button" onclick = "message2()") Click it second
    button(type = "button" onclick = "message3()") Click it third
    script
      include script.js
    if config.entry.css.external
      link(rel="stylesheet", href=`${baseUrl}style.css`)